{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}

{% block content %}
<section class="journal-detail-container">
    <div class="journal-details">
        <h1>{{ journal_entry.title }}</h1>
        <p>{{ journal_entry.entry}}</p>
        <p>{{ journal_entry.pub_date}}</p>
    </div>
</section>

<div class="journal-actions">
    <a href="{% url 'journal-update' journal_entry.id %}" class="btn warn">Edit Journal Entry</a>
    <a href="{% url 'journal-delete' journal_entry.id %}" class="btn danger">Delete Journal Entry</a>
</div>
{% endblock %}