{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}

{% block content %}
<section class="journal-detail-container">
    <div class="journal-details">
        <h1>{{ journal_entry.title }}</h1>
        <p>{{ journal_entry.entry}}</p>
        <p>{{ journal_entry.pub_date}}</p>
    </div>
</section>

<div class="journal-actions">
    <a href="{% url 'journal-update' journal_entry.id %}" class="btn warn">Edit Journal Entry</a>
    <a href="{% url 'journal-delete' journal_entry.id %}" class="btn danger">Delete Journal Entry</a>
</div>

<div class="thoughts-container">
    <section class="thoughts">
        <h3>Add a Thought</h3>
        <form action="{% url 'add-thought' journal_entry.id %}" method="POST" class="subsection-content" autocomplete="off">
            {% csrf_token %}
            {{ thought_form.as_p }}
            <button class="submit" class="btn submit">Add your Thoughts</button>
        </form>

        <div>
            <h2>Thoughts:</h2>
        </div>
        {% if journal_entry.thought_set.all.count %}
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Thought</th>
                </tr>
            </thead>
            <tbody>
                {% for thought in journal_entry.thought_set.all %}
                <tr>
                    <td>{{ thought.pub_date }}</td>
                    <td>{{ thought.thought }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div>
            <p>Any follow up thoughts on {{ journal_entry.title }}?</p>
        </div>
        {% endif %}

        <div class="thought-actions">
            <a href="{% url 'thought-update' thought.id %}" class="btn warn"></a>
        </div>
    </section>
</div>
{% endblock %}